.App {
  text-align: center;
}

.grid {
  width: 80vw;
  height: 100vh;
  display: grid;
  align-items: center;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.backgroundChange{
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding:5px;
  padding-left:20px ;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
}